<p class="lead"><%= comments.count %>件のコメント</p>
<% comments.each do |comment| %>

  <% unless comment.id.nil? %>

    <p><%= image_tag(post.user.image , size: 30) %>
      <%= comment.user.name %></p>

    <p>
      <i class="fa far fa-comment fa-fw fa-1x"></i>
      <%= comment.content %></p>
    <p>
      <i class="fa fas fa-wifi fa-fw fa-1x"></i>
      <%= comment.wifi %></p>
    <p>
      <i class="fa fas fa-female fa-fw fa-1x"></i>
      <%= comment.toilet %></p>
    <p>
      <i class="fa fas fa-medkit fa-fw fa-1x"></i>
      <%= comment.trouble %></p>

    <% if comment.image.present? %>
      <%= image_tag(comment.image , size: 50) %>
    <% end %>

    <div class="col-md-5 col-md-offset-7 text-right">
      <% if comment.user == current_user %>
        <%= link_to "",post_comment_path(comment.post_id, comment.id), method: :delete, remote: true ,class: 'fa fas fa-trash fa-fw fa-2x'%>
      <% end %>
    </div>

    <br>
    <hr>
  <% end %>
<% end %>
