
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>

      <h3 class="post-subtitle">
        <p><%= image_tag(post.user.image , size: 30) %>
          <%= comment.user.name %></p>
        <p><%= comment.content %></p>
        <div class="field" id="star">
        <%= comment.star %>
        </div>


        <p><%= comment.wifi %></p>

        <% if comment.image.present? %>
          <%= image_tag(comment.image , size: 50) %>
        <% end %>


        <% if comment.user == current_user %>
          <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
        <% end %>
      </h3>
    <% end %>
  <% end %>

  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[star]'
  });
  </script>
