<aside class="callout">
    <div class="text-vertical-center">
        <h1>New User?</h1>
    </div>
</aside>

<div name="sentMessage" id="contactForm" novalidate="novalidate">
         <%= form_with(model: @user, local: true) do |f| %>
         <div class="row control-group">


           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">

             <%= f.label :name %>
             <%= f.text_field :name ,class: "form-control" ,placeholder: "お名前"%>


           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <%= f.label :email %>
             <%= f.email_field :email ,class: "form-control" ,placeholder:"メールアドレス" %>


             <p class="help-block text-danger"></p>
           </div>
         </div>
         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <%= f.label :password %>
             <%= f.password_field :password,class: "form-control" ,placeholder: "パスワード" %>
             <p class="help-block text-danger"></p>
           </div>
         </div>

         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <%= f.label :password_confirmation %>
             <%= f.password_field :password_confirmation ,class: "form-control" , placeholder: "パスワード(確認用)"%>
             <p class="help-block text-danger"></p>
           </div>
         </div>

         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <%= f.label :area %>
             <%= f.text_field :area ,class: "form-control" , placeholder: "お住まいの地域(任意)"%>
             <p class="help-block text-danger"></p>
           </div>
         </div>

         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <%= f.label :introduction %>
             <%= f.text_field :introduction ,class: "form-control" , placeholder: "自己紹介(任意)"%>
             <p class="help-block text-danger"></p>
           </div>
         </div>


         <div class="row control-group">
           <div class="form-group col-xs-offset-2 col-xs-8 floating-label-form-group controls">
             <br>
             <%= f.file_field :image, id: :feed_image %>
             <%= f.hidden_field :image_cache %>
             <br>
           </div>
         </div>


         <br>
         <%= f.submit "Send" ,class:"col-xs-offset-4 col-xs-4 btn btn-default" %>
       <% end %>
<br>
<br>
     </div>

   <!-- </div>
 </div>
 </div> -->
 <hr>
