<aside class="callout">
    <div class="text-vertical-center">
        <h1>User Profile</h1>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= @user.name %>さん、こんにちは</h2>
            </div>
        </div>
    </div>
</aside>

<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h1><% if @user.image.present? %>
            <%= image_tag(@user.image.url) %>
          <% end %>
          <strong>  Profile of <%= @user.name %></strong></h1>

          <hr>
          <br>

          <p class="lead"><i class="fa far fa-envelope fa-fw fa-2x"></i>：<%= @user.email %></p>
          <p class="lead"><i class="fa fa-map-marker fa-fw fa-2x"></i>：<%= @user.area %></p>
          <p class="lead"><i class="fa fab fa-angellist fa-fw fa-2x"></i>：<%= @user.introduction %></p>

            <br>
            <br>

          <br>

          <h1><i class="fa far fa-thumbs-up fa-fw fa-2x"></i><strong>お気に入りspot一覧</strong></h1>
          <hr>
          <br>


          <% @likes_posts.each do |like| %>

            <p class="lead"><%= image_tag(@user.image , size: 30) %><%= like.user.name %></p>
            <p class="lead"><%= like.spot %></p>
            <span><%= link_to 'お気に入りを取り消す', post_path(like) , method: :delete,class: 'btn btn-dark btn-lg'%></span>
            <br>
            <hr>

          <% end %>

        </div>
      </div>
    </div>
  </article>
