<aside class="callout">
    <div class="text-vertical-center">
        <h1>contact?</h1>
    </div>
</aside>

<div name="sentMessage" id="contactForm" novalidate="novalidate">
    <p id="notice"><%= notice %></p>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h3>お問い合わせを受付しました</h3>
          <hr>
          <div class="post-preview">


          <p>Name:<%= @contact.name %></p>
          <hr>


          <p>Email:<%= @contact.email %></p>
          <hr>


          <p>Content:<%= @contact.content %></p>
          <hr>



          <%= link_to 'Back', new_contact_path , class: 'btn btn-default' %></h2>
        </div>
    </div>
  </div>
</div>
</div>
