<%= form_with(model: @post, local: true,url: choose_new_or_edit ) do |form| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 ">

      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <h1>
            <i class="fa fa-dribbble fa-fw fa-2x"></i>
            <strong>spot</strong>
          </h1>
          <%= form.text_field :spot ,class: "form-control" ,placeholder: "どこへ行きましたか？(必須）"%>
        </div>
        <br>
        <br>

        <div class="form-group col-xs-12 floating-label-form-group controls">
          <h1>
            <i class="fa fa-camera fa-fw fa-2x"></i>
            <strong>picture</strong>
          </h1>
          <%= form.file_field :image, id: :feed_image ,placeholder: "pic"%>
          <%= form.hidden_field :image_cache %>
        </div>
        <br>
        <br>

        <div class="form-group col-xs-12 floating-label-form-group controls">
          <h1>
            <i class="fa fas fa-comment fa-fw fa-2x"></i>
            <strong>how about this spot?</strong>
          </h1>
          <%= form.text_field :content ,class: "form-control" ,placeholder: "行ってみてどうでしたか？（必須）"%>
        </div>
        <br>
        <br>
      </div>
      <hr>

      <!-- wifi -->
      <%= render partial: 'wifi', locals: {form: form} %>

      <!-- トイレ -->
      <%= render partial: 'toilet', locals: {form: form} %>

      <!--トラブル-->
      <%= render partial: 'trouble', locals: {form: form} %>

      <%= form.submit "登録する", class: 'col-xs-offset-4 col-xs-4 btn btn-danger btn-lg' %>
      <br>
    <% end %>
    <br>
    <br>
    <%= link_to "一覧画面へ戻る", posts_path, class: 'col-xs-offset-4 col-xs-4 btn btn-dark btn-lg' %>

  </div>
</div>
</div>
</div>
