<aside class="callout">
    <div class="text-vertical-center">
        <h1>Confirm</h1>
    </div>
</aside>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>内容確認</h3>
      <hr>
      <div class="post-preview">
        <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
        <%= form.hidden_field :content %>
        <%= form.hidden_field :spot %>


        <p>行った場所 :<%= @post.spot %></p>
        <hr>
        <p>本文 :<%= @post.content %></p>

        <% if @post.image.present? %>
          <%= image_tag(@post.image.url) %>
        <% end %>

        <%= hidden_field_tag :"cache[image]",@post.image.cache_name %>
        <hr>
        <br>
        <%= form.fields_for :wifis do |w| %>
        <%= w.hidden_field :condition_1 %>
        <%= w.hidden_field :condition_2 %>
        <%= w.hidden_field :condition_3 %>
        <p>WIFI情報 :<%= form.wifis.condition_1 %></p>

        <% end %>


        <%= form.fields_for :toilets do |t| %>
        <%= t.hidden_field :comfortable %>
        <% end %>

        <%= form.fields_for :troubles do |tr| %>
        <%= tr.hidden_field :atm %>
        <% end %>

        <%= form.submit "登録する" , class: 'btn btn-default' %>
      <% end %>

      <%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
      <%= form.hidden_field :content %>
      <br>
      <%= form.submit "戻る" ,name: 'back', class: 'btn btn-default'%>
    <% end %>
  </div>
  <hr>

</div>
</div>
</div>

<hr>
