<aside class="callout">
    <div class="text-vertical-center">
        <h1>Index</h1>
    </div>
</aside>

<div class="container">
  <p><%= notice %></p>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <% @posts.each do |post| %>
          <p class="post-meta"><%= image_tag(post.user.image , size: 30) %>
            <%= post.user.name %></p>
          <h2 class="post-title">
            <%= post.spot %>
          </h2>
          <h3 class="post-subtitle">
            <% if post.image.present? %>
              <%= image_tag(post.image , size: 50) %>
            <% end %>
          </h3>

          <%= link_to '続きを見る', post_path(post.id), class: 'btn btn-default'%>

          <hr>
        <% end %>

<%= paginate @posts %>
      </div>
    </div>


    <%= link_to 'New tweet!', new_post_path, class: 'btn btn-info'%>
  </div>
</div>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-1.jpg">
                            </a>
                        <!-- </div>
                    </div>

                    <div class="col-md-6">
                        <div class="portfolio-item"> -->
                        <p>aaaaaa</p>
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-2.jpg">
                            </a>
                            <p>aaaaaa</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-3.jpg">
                            </a>
                            <p>aaaaaa</p>
                        <!-- </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item"> -->
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-4.jpg">
                            </a>
                            <p>aaaaaa</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<hr>
