<aside class="callout">
    <div class="text-vertical-center">
        <h1>Index</h1>
    </div>
</aside>

<div class="container">
  <p><%= notice %></p>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <h1>Listing topics</h1>
        <%= search_form_for @search do |f| %>


          <%= f.label :spot_cont, '行った場所を検索しよう' %>
          <div class="input-group">
            <%= f.text_field :spot_cont , class:"form-control" ,placeholder:"Search for..." ,type:"text" %>
            <span class="input-group-btn">
            <%= f.submit 'Go',class:"btn btn-default" ,type:"submit" %>
            </span>
          </div>

            <% if @posts.blank? %>
            <br>
            <p>該当のspotは見つかりませんでした</p>
            <%= link_to '行った場所を登録しませんか？', new_post_path, class: 'btn btn-info'%>
            <% end %>

            <% end %>
        <br>
      </div>
      <br>
    </div>


    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <% @posts.each do |post| %>
          <p class="post-meta"><%= image_tag(post.user.image , size: 30) %>
            <%= post.user.name %></p>
          <h2 class="post-title">
            <%= post.spot %>
          </h2>
          <h3 class="post-subtitle">
            <% if post.image.present? %>
              <%= image_tag(post.image , size: 50) %>
            <% end %>
          </h3>
          <p class="post-meta">投稿日<%= post.created_at %></p>
          <br>
          <%= link_to '続きを見る', post_path(post.id), class: 'btn btn-default'%>

          <hr>
        <% end %>

<%= paginate @pages %>
      </div>
    </div>


    <%= link_to 'New tweet!', new_post_path, class: 'btn btn-info'%>
  </div>
</div>

<hr>
