<aside class="callout">
    <div class="text-vertical-center">
        <h1>show?</h1>
    </div>
</aside>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h2 class="section-heading"><%= @post.spot %></h2>

        <%= image_tag @post.image %>
        <br>
        <% if current_user.id == @post.user.id %>
          <%= link_to '編集', edit_post_path(@post.id), data: { confirm: '編集しますか？' }, class: 'btn btn-default' %>
          <%= link_to '削除', post_path(@post.id), method: :delete ,data: { confirm: '削除しますか？' } , class: 'btn btn-default'%>

        <% end %>

        <% unless @post.user == current_user.id %>
          <% if @like.present? %>
            <br>
            <%= link_to 'いいね！を取り消す',like_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
            <hr>
          <% else %>
            <br>
            <%= link_to 'いいね！', likes_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>

          <% end %>
        <% end %>
        <%= @post.content %>
        <% @post.wifis.each do |k| %>
          <%= k.condition_1 %>
          <%= k.condition_2 %>
          <%= k.condition_3 %>
        <% end %>




        <p>コメント一覧</p>
          <div id="comments_area">
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
          </div>

          <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      </div>
    </div>
  </article>

  <hr>
